<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ site.github.url }}"> <h1>{{ site.title | default: site.github.repository_name }}</h1> </a>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_user_page %}
          <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        <h3>Getting Started</h3>
        <a href="index.html">Part 1</a>
        <br>
        <a href="part2.html">Part 2</a>
        <br>
        <a href="part3.html">Part 3</a>
        <br>
        <a href="part4.html">Part 4</a>
        <br>
        <a href="part5.html">Part 5</a>
        <br>
        <a href="part6.html">Part 6</a>
        <br>
        <br>
        <h3>Building the Project</h3>
        <a href="part7.html">Part 7</a>
        <br>
        <a href="part8.html">Part 8</a>
        <br>
        <a href="part9.html">Part 9</a>
        <br>
        <a href="part10.html">Part 10</a>
        <br>
        <a href="part11.html">Part 11</a>
        <br>
        <a href="part12.html">Part 12</a>
        <br>
        <a href="part13.html">Part 13</a>
        <br>
        <a href="part14.html">Part 14</a>
        <br>
        <a href="part15.html">Part 15</a>
        <br>
        <a href="part16.html">Part 16</a>
        <br>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
            <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        {% endif %}
        <p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>